#nav-main {
	text-decoration: none;
}

#nav-main ul{
	list-style-type:  none;
}

#nav-item li{
	
}

#navRow {
	display: block;
	background-color: #E12D28;
	color:white;
	
}

#navRow a{
	color:#F7E2E1;
}

#navRow a:hover{
	color:#140707;

}


.dropDown {

	position:relative;
	
}

.dropDown-content {

	display:none;
	position:absolute;
	background-color: #E12D28;
	min-width: 160px;
	z-index: 5;
	list-style-type:  none;
}

.dropDown-content li {
	list-style-type:  none;
}

.dropDown-content a{

	color: orange;
	display:block;
	text-decoration: none;
	padding: 12px 16px;
}


.dropDown-content a:hover { 
	color:#140707;

}

.dropDown:hover .dropDown-content{
	display:block;

}


#footerNavRow {
	margin-top:2px;
	display: block;
	background-color: #140707;
	color:white;
	
}

#footerMenu a {
color:#F7E2E1;
}

#footerMenu a:hover {
color:#E12D28;
}

@media only screen and (max-width: 768px) {
   #footerMenu {
       display: none !important;
   }

   
}