body {

	font-family: Arial, Helvetica, sans-serif;
	padding:.5em;
	

	
}

.container-fluid {
	background-color: #E12D28;
}



#secondRow {
	
	
	margin-top:2px;
	min-height:200px;
	height:100%;
}

#rightTop {
	display:block;
	margin:auto;
	max-width: 180px;

}


#responsive {
	display:block;
	margin:auto;
	    width:200px;
        height:200px;
  
}

#thirdRow {
	margin-top:2px;	
	min-height:200px;
	height:100%;
	justify-content: center;
	
}

#fourthRow {
	margin-top:2px;
	height:200px;
	


}



.leftUpper {
	background-color: white;
	min-height:200px;

	
	
}
.middleUpper {
	display: block;
	margin:auto;
	background-color: #F7E2E1;
	min-height:200px;
	
	
}


.midRightUpper {
	display:block;
	margin:auto;
	background-color: #F7E2E1;
	/*color:white;*/
	min-height:200px;
	
}

.rightUpper {

	display:block;
	margin:auto;
	background-color: #F7E2E1;
	/*color:white;*/
	min-height:200px;
	
}

.leftMainContent {
background-color: lightgray;
min-height:400px;
}


.rightMainContent {
background-color: #F7E2E1;
min-height:400px;
}


.mainContent {
background-color: #F7E2E1;
min-height:400px;

}

.pic {
	display:block;
	margin:auto;
	max-width: 800px;
	width:100%;
	height: auto;
}

.belowFold {
	background-color: #F7E2E1;
	min-height:200px;
	
}


@media only screen and (max-width: 768px) {
   

#secondRow {
	

	height:100%;
	min-height: 200px;
}

#thirdRow {
	
	height:100%;
	min-height: 200px;
	
	
}

#fourthRow {
	
	height:100%;
	min-height: 200px;
	


}


   }

